.additional-services h4 {
  font-size: 14px;
  margin: 30px 0;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.service {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}
.service h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.service p {
  color: #909090;
  font-size: 12px;
}

@media screen and (max-width: 500px) {
  .services-wrapper {
    grid-template-columns: 1fr;
  }
  .service {
    display: flex;
    flex-direction: column;
  }
}
