* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Whitney SSm";
}
a {
  text-decoration-line: none;
  color: white;
}

/* @font-face {
  font-family: "Whitney SSm A";
  src: url(../src/assets/fonts/whitney/whitney_ssm_medium.ttf);
} */
