@font-face {
  font-family: "Whitney SSm A";
  src: url(../src/assets/fonts/whitney/whitney_ssm_medium.ttf);
}

/* body {
  margin: 0;
  font-family: "Whitney SSm A", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
@font-face {
  font-family: "Whitney SSm";
  src: url("../src/assets/fonts/whitney/WhitneySSm-Medium.woff2")
      format("woff2"),
    url("../src/assets/fonts/whitney/WhitneySSm-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Whitney SSm";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f6;
}
